form(method="POST", action="/submit")
 input(type="hidden", name="_method", value="POST")
 p Name
  input(type="text", name="name")
 p Email
  input(type="email", name="email")
 p Password
  input(type="text", name="password")
 p Confirm Password
  input(type="text", name="confirm_password")
 p
  input(type="submit")
